version: "3.1"
services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    ports:
      - 27018:27017
    volumes:
      - ./mongo-data:/data/db
    networks:
      - app-network

  top-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: top-api
    restart: always
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - MONGO_LOGIN=admin
      - MONGO_PASSWORD=admin
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_AUTH_DB=admin
    depends_on:
      - mongo
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
