version: "3.1"
services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_LOGIN}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    ports:
      - 27018:27017
    volumes:
      - ./mongo-data:/data/db
    networks:
      - app-network

  top-api:
    image: ghcr.io/gpasha/top-api:latest # with GitHub image
    container_name: top-api
    restart: always
    ports:
      - 3000:3000
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_PORT=27017
      - MONGO_USER=${MONGO_LOGIN}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_DB_NAME=topapi
    volumes:
      - ./.env:/opt/app/.env
    depends_on:
      - mongo
    networks:
      - app-network

networks:
  app-network:
    driver: bridge